<script src='{{STATIC_URL}}redhat_access_plugin_openstack/js/bootstrap.js' type='text/javascript' charset='utf8'></script>
<script src='{{STATIC_URL}}redhat_access_plugin_openstack/js/angular-resource.js' type='text/javascript' charset='utf8'></script>
<script src='{{STATIC_URL}}redhat_access_plugin_openstack/js/angular-sanitize.js' type='text/javascript' charset='utf8'></script>
<script src='{{STATIC_URL}}redhat_access_plugin_openstack/js/angular-route.js' type='text/javascript' charset='utf8'></script>
<script src='{{STATIC_URL}}redhat_access_plugin_openstack/js/angular-ui-router.js' type='text/javascript' charset='utf8'></script>
<script src='{{STATIC_URL}}redhat_access_plugin_openstack/js/ui-bootstrap-tpls.js' type='text/javascript' charset='utf8'></script>
<script src='{{STATIC_URL}}redhat_access_plugin_openstack/js/angular.treeview.js' type='text/javascript' charset='utf8'></script>
<script src='{{STATIC_URL}}redhat_access_plugin_openstack/js/Uri.js' type='text/javascript' charset='utf8'></script>
<script src='{{STATIC_URL}}redhat_access_plugin_openstack/js/strata.js' type='text/javascript' charset='utf8'></script>
<script src='{{STATIC_URL}}redhat_access_plugin_openstack/js/redhat_access_angular_ui.js' type='text/javascript' charset='utf8'></script>
<link rel='stylesheet' type='text/css' href='{{STATIC_URL}}redhat_access_plugin_openstack/css/log_viewer.css'/>
<link rel='stylesheet' type='text/css' href='{{STATIC_URL}}redhat_access_plugin_openstack/css/angular.treeview.css'/>
<link rel='stylesheet' type='text/css' href='{{STATIC_URL}}redhat_access_plugin_openstack/css/bootstrap3.css'/>
