<script src='{{STATIC_URL}}redhat_access_plugin_openstack/js/redhat_access_angular_ui.js' type='text/javascript' charset='utf8'></script>
<link rel='stylesheet' type='text/css' href='{{STATIC_URL}}redhat_access_plugin_openstack/css/bootstrap3.css'/>
<link rel='stylesheet' type='text/css' href='{{STATIC_URL}}redhat_access_plugin_openstack/css/redhat_access_angular_ui-embedded-images.css'/>
<link rel='stylesheet' type='text/css' href='{{STATIC_URL}}redhat_access_plugin_openstack/css/redhat_access_plugin_openstack.css'/>
