{% extends 'redhat_access/base.html' %}
{% load i18n %}
{% block title %}{% trans "Search" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Search") %}
{% endblock page_header %}

{% block redhat_access_main %}
<form id="rh-search">
    <fieldset>
        <label>Red Hat Access: Search</label>
            <input type="text" id="rhSearchStr" name="searchString" class="input-xxlarge" placeholder="Search Articles and Solutions"/>
            <button type="submit" class="btn btn-small btn-primary" style="vertical-align: top;">Search</button>
    </fieldset>
</form>

<div id='solutions' style="width: 47%; float: left;">
</div>
<div id='solution-outer' style='height: 100%; width: 50%; float: right;'>
<div id='solution' style="overflow: auto;">
</div>
</div>
{% endblock %}
