{% extends 'redhat_access_plugin_openstack/base.html' %}
{% load i18n %}
{% block title %}{% trans "Support" %}{% endblock %}

{% block page_header %}
  {% include "redhat_access_plugin_openstack/_conf.html" %}
  {% include "horizon/common/_page_header.html" with title=_("Support") %}
{% endblock page_header %}

{% block redhat_access_plugin_openstack_main %}
<div id='redhat-access-cases'>
    <div ui-view>
    </div>
</div>
<script>
angular.module('RedhatAccessCases').config(function ($urlRouterProvider) {$urlRouterProvider.otherwise('case/list')});
angular.bootstrap(document.getElementById("redhat-access-cases"), ['RedhatAccessCases']);
strata.setRedhatClientID("redhat_access_plugin_openstack-5.0");
</script>
{% endblock %}
