{% extends 'redhat_access/base.html' %}
{% load i18n %}
{% block title %}{% trans "Log" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Log") %}
{% endblock page_header %}

{% block redhat_access_main %}
<div class="clearfix" style="height: 50px;">
  <h3 class="pull-left">{% trans "Instance Console Log" %}</h3>
 <form id="analyze" action="" class="form-inline pull-right">
    <button class="btn btn-small btn-primary" type="submit">{% trans "Red Hat Access: Diagnose" %}</button>
</form>
</div>

<pre id="log-text" class="logs" style="height: 500px; overflow: auto;">
{{console_log}}
</pre>
{% endblock %}